[submodule "js/lib/respond"]
	path = js/lib/respond
	url = https://github.com/scottjehl/Respond.git
[submodule "js/lib/shiv"]
	path = js/lib/shiv
	url = https://github.com/aFarkas/html5shiv.git
[submodule "js/lib/creep"]
	path = js/lib/creep
	url = https://github.com/jpederson/Creep.js.git
[submodule "library/cmb2"]
	path = library/cmb2
	url = https://github.com/WebDevStudios/CMB2.git
