

.wrap {
	max-width: 1220px;
	margin: 0 auto;
}

.content {
	h1, h2, h3, h4, h5, h6 {
		padding: 6px 0;
	}
}

.content-narrow {
	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
}

.content-wide {
	@include clearfix;
	padding: 40px 20px;
}


.fluid-width-video-wrapper {
	margin: 15px 0;
}


.quarter, .third, .half, .two-third, .three-quarter, .two-fifth, .three-fifth {
	padding: 20px;
}

@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter, .two-fifth, .three-fifth {
		float: left;
	}

	.quarter {
		width: 25%;
	}

	.third {
		width: 33%;
	}

	.two-third {
		width: 66%;
	}

	.three-quarter {
		width: 75%;
	}

	.two-fifth {
		width: 40%;
	}

	.three-fifth {
		width: 60%;
	}

	.half {
		width: 50%;
	}
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

table {
	width: 100%;

	tr {
		td {
			vertical-align: top;
			padding: 6px 10px;
		}
	}
}

.content-style {
	ol, ul {
		padding: 5px 0 5px 35px;

		li {
			padding: 3px 0;
		}

		&.gform_fields {
			padding: 5px 0;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	h1, h2, h3, h4, h5, h6 {
		padding: 10px 0 5px;
	}

	blockquote {
		padding: 10px 25px;
		@include font-italic;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $grey;
		border-left: 3px solid lighten( $grey, 25% );
		margin: 10px 0 10px 20px;
	}

	hr {
		border: 0;
		border-bottom: 1px solid lighten( $grey, 25% );
		padding: 0;
		margin: 25px 0;
	}

	button, input[type=submit], input[type=reset], .button {
		padding: 9px 45px 6px 12px;
		background: $navy url(../img/icon-button-arrow.png) right center no-repeat;
		color: white;
		@include font-bold;
		border: 3px solid white;
		box-shadow: 4px 4px 10px lighten( $grey, 15% );
		border-radius: 10px;
		text-decoration: none;
	}
}

