

@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:400,700,400italic,700italic);

@mixin font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

@mixin font-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin font-bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

@mixin font-bold-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
}

@mixin font-cursive {
	font-family: "Dancing Script", sans-serif;
	font-weight: 400;
}

@mixin font-cursive-bold {
	font-family: "Dancing Script", sans-serif;
	font-weight: 700;
}
