

footer {
	background: $green;
	color: white;
	@include clearfix;

	.column {
		padding: 20px;

		@include respond-to( 768px ) {
			float: left;
			width: 50%;
		}

		@include respond-to( 1024px ) {
			width: 25%;
			padding: 30px 40px;
		}
	}
	
	h3 {
		@include font;
		font-size: 1.5em;
		line-height: 1.2em;
	}

	a {
		color: white;
		text-decoration: none;
	}

	.social {
		padding: 10px 0;
	}
}

