

footer {
	background: $green;
	color: white;
	@include clearfix;
	padding-bottom: 30px;
	
	h3 {
		@include font;
		font-size: 1.5em;
		line-height: 1.2em;
	}

	a {
		color: white;
		text-decoration: none;
	}

	.social {
		padding: 10px 0;
	}
}

