

$menu-bp: 768px;

header {
	padding-top: 15px;
	background: url(../img/bg-header-gradient.png) top center repeat-x;

	.logo {
		padding: 0 0 10px 30px;
	}

	nav {
		@include clearfix;
		position: relative;

		button {
			position: absolute;
			right: 5px;
			top: -80px;
			width: 40px;
			height: 40px;
			border: 0;
			padding: 0;
			background: white;
			color: black;
			background: url(../img/icon-menu.png) center center no-repeat;

			@include respond-to( $menu-bp ) {
				display: none;
			}
		}

		ul.nav-menu {
			display: none;
			position: relative;
			z-index: 1000;
			
			@include respond-to( $menu-bp ) {
				display: block;
				@include clearfix;
				padding-left: 7px;
			}

			li {
				box-shadow: inset 0px 15px 22px -10px rgba(100, 100, 100, 0.3);

				@include respond-to( $menu-bp ) {
					box-shadow: none;
					position: relative;
					display: inline-block;
				}

				a {
					display: block;
					@include font;
					padding: 15px 5px;
					font-size: 16px;
					line-height: 16px;
					color: $grey;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;

					@include respond-to( $menu-bp ) {
						display: inline-block;
						padding: 15px 8px;
					}

					@include respond-to( 1220px ) {
						padding: 15px 15px;
					}
				}

				&:hover, &.open {
					ul.sub-menu {
						@include respond-to( $menu-bp ) {
							display: block;
						}
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;
					background: white;

					@include respond-to( $menu-bp ) {
						position: absolute;
						left: 0;
						top: 46px;
						width: 230px;
						@include clearfix;
						text-align: left;
					}

					li {
						display: block;

						a {
							padding: 7px 7px;
							font-size: .9em;
							display: block;

							@include respond-to( $menu-bp ) {
								text-align: left;
								padding: 8px 12px;
							}
						}
					}
				}
			}
		}
	}

	.search {
		position: relative;

		input[type=text] {
			display: block;
			top: 0;
			right: 35px;
			bottom: 0;
			left: 0;
			width: 100%;
			border: 0;
			padding: 0 15px;
			font-size: 15px;
			line-height: 35px;
			border-radius: 10px;
			border: 1px solid $green;
		}

		input[type=submit] {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 35px;
			height: 35px;
			border: 0;
			background: url(../img/icon-search.png) center center no-repeat;
			text-indent: -400px;
			cursor: pointer;

			@include respond-to( 768px ) {
				right: -6px;
				top: -6px;
				bottom: -6px;
				width: 47px;
				height: 47px;
			}
		}

		@include respond-to( 768px ) {
			position: absolute;
			top: 30px;
			right: 80px;
		}

		@include respond-to( $menu-bp ) {
			right: 40px;
		}
	}


	.social {
		display: none;

		@include respond-to( 768px ) {
			display: block;
			position: absolute;
			top: 90px;
			right: 90px;
		}

		@include respond-to( $menu-bp ) {
			right: 50px;
		}

		a {
			opacity: .7;
			transition: opacity 400ms ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}


	@include respond-to( 768px ) {
		position: relative;

		.wrap {
			position: relative;
		}
	}
}

