

.about {
	padding: 20px 0;
	border-top: 20px solid $green;

	h2 {
		font-size: 2em;
		line-height: 1.5em;
		color: $green;
		@include font-bold;

		@include respond-to( 768px ) {
			font-size: 2.4em;
		}
	}

	.three-fifth {
		background: url(../img/bg-logo.png) center center no-repeat;
		background-size: contain;

		h5 {
			@include font-italic;
			padding-bottom: 25px;
		}

		.buttons {
			padding-top: 20px;
		}
	}

	.people {
		img {
			display: block;
			border-radius: 50%;
			border: 2px solid $grey;
		}

		h4 {
			font-size: 1.2em;
			color: $green;
			@include font-cursive;
		}
	}

}


.events {
	border-top: 2px dotted $grey;
}


.posts {
	border-top: 2px dotted $grey;
}

